<p>newview works!</p>

<h2>Name of Employee is : {{Name}}</h2>
<h2>Age of Employee :{{Age}}</h2>
<h2>Email ID: {{email}}</h2>
<h2>Address :</h2>
<h3>{{address.Houseno}},{{address.Street}},{{address.District}}</h3>
<h2>Hobbies</h2>
<h3>{{Hobbies}}</h3>
<ul>
    <li *ngFor="let hb of Hobbies">{{hb}}</li>
</ul>
<table border="1px;">
    <tr *ngFor="let hb of Hobbies;let i = index">
        <td>{{i}}</td>
        <td>{{hb}}</td>       
    </tr>
</table>
<!-- when an event is there put inside paranthesis as it is not normal property like name; (click) -->
<input type="button" name="btn1" value="add project" (click)="Add()" />
<table border="1px;">
    <tr>
        <th>No.</th>
        <th>Project</th>
        <th>Duration</th>
        <th>End Date</th>
    </tr>
    <tr *ngFor="let pr of projects;let i = index">
        <td>{{i+1}}</td>
        <td>{{pr.name}}</td> 
        <td>{{pr.duration}}</td>
        <td>{{pr.enddate}}</td>      
    </tr>
</table>