<div>
    <div>        
        <input type="text" name="search" id="search" [(ngModel)]="search">
    </div>   
    
    <button class="btn waves-effect waves-light" (click)='searchit()'>search</button>
</div>


<div>
    <table>
        <tr>
            <th>Product Id</th>
            <th>Product name</th>
            <th>Product price</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        <tr *ngFor='let p of myproduct'>
            <td>{{p.productid}}</td>
            <td>{{p.productname}}</td>
            <td>{{p.productprice}}</td>
            <td><button class="btn waves-effect waves-light" (click)='Edit(p.productid)'>Edit</button></td>
            <td><button class="btn waves-effect waves-light" (click)='Delete(p.productid)'>Delete</button></td>
        </tr>
    </table>
</div>