
<div>
    <router-outlet>
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li> <a routerLink="/home/new">Add</a></li>
                    <li><a routerLink="/home/edit/0">Edit</a></li>
                    <li><a routerLink="/home/view">View</a></li>
                    <li> <a routerLink="/home/delete">Delete</a></li>
                    <li><a routerLink="/home/about">About us</a></li>
                    <li><a routerLink="/home/contact">Contact us</a></li>
                    <li><a routerLink="/home/service">Service</a></li>
                    <li><a routerLink="/">Logout</a></li>
                </ul>
            </div>
        </nav>
    </router-outlet>
</div>



