<p>crud works!</p>
<div>
    <button class="btn waves-effect waves-light">Add</button>
    <button class="btn waves-effect waves-light" (click)=viewit()>View</button>
    <button class="btn waves-effect waves-light">Edit</button>
    <button class="btn waves-effect waves-light">Delete</button>
</div>
<div *ngIf='view'>
    <table>
        <tr>
            <th>Product Id</th>
            <th>Product name</th>
            <th>Product price</th>
        </tr>
        <tr *ngFor='let p of myproduct'>
            <td>{{p.productid}}</td>
            <td>{{p.productname}}</td>
            <td>{{p.productprice}}</td>
        </tr>
    </table>
</div>